.App {
  text-align: center;
  background-color: #ffffff;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 248, 248);
  font-size: calc(15px + 2vmin);
  color: rgb(59, 5, 236);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(53, 11, 240);
  padding: 50px;
}

.Button {
  padding: 60px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}