.App {
  text-align: center;
  background-color: #ffffff;
}


.App-header {
  border: solid 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 248, 248);
  font-size: calc(35px + 2vmin);
  color: rgb(82, 32, 248);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px solid rgb(82, 32, 248);
  padding: 85px;
}

.Button {
  padding: 10px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}